* text=auto eol=lf
src/vehicle_simulator/mesh/campus/meshes/campus.dae filter=lfs diff=lfs merge=lfs -text
src/vehicle_simulator/mesh/garage/preview/pointcloud.ply filter=lfs diff=lfs merge=lfs -text
